*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #afbec3;
    font-family: "Raleway",sans-serif;
}
.password-generator{
    margin: 100px auto;
    width: 320px;
    padding: 15px;
    background: #1d2d59;
}